<!-- Post A Comment Area -->
<div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Để Lại Bình Luận</h5>
    </div>

    <!-- Reply Form -->
    <div class="contact-form-area">
        <form action="#" method="post">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <input type="text" class="form-control" id="name" placeholder="Tên của bạn*" required>
                </div>
                <div class="col-12 col-lg-6">
                    <input type="email" class="form-control" id="email" placeholder="Email*" required>
                </div>
                <div class="col-12">
                    <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                        placeholder="Bình Luận*" required></textarea>
                </div>
                <div class="col-12">
                    <button class="btn mag-btn mt-30" type="submit">Gửi Bình Luận</button>
                </div>
            </div>
        </form>
    </div>
</div>