<!-- Comment Area Start -->
<div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Bình Luận</h5>
    </div>

    <ol>
        <!-- Single Comment Area -->
        {{#each comments}}
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <div class="comment-meta">
                    <a href="#" class="comment-date">{{this.date}}</a>
                    <h6>{{this.fullname}}</h6>
                    <p>{{this.content}}</p>
                    {{!-- {{>news/reactCommented}} --}}
                </div>
            </div>
        </li>
        {{/each}}


    </ol>
</div>