<!-- Comment Area Start -->
<div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
    <!--Rating Area Start -->
    <div class="section-heading">
        <h5>đánh giá bản tin</h5>
    </div>
    <!--Rating Area End -->
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Bình Luận</h5>
    </div>

    <ol>
        <!-- Single Comment Area -->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->

                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Tomas Mandy</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius</p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="like">like</a>
                        <a href="#" class="reply">Reply</a>
                    </div>
                </div>
            </div>


        </li>

        <!-- Single Comment Area -->
        <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
                <!-- Comment Author -->
                <!-- Comment Meta -->
                <div class="comment-meta">
                    <a href="#" class="comment-date">27 Aug 2019</a>
                    <h6>Simon Downey</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                        adipisci velit, sed quia non numquam eius</p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="like">like</a>
                        <a href="#" class="reply">Reply</a>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>