<div class="mag-breadcrumb py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {{#if type}}
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>
                                {{type}}</a></li>
                        {{/if}}
                        {{#if theme}}
                        <li class="breadcrumb-item"><a href="#">{{theme}}</a></li>
                        {{/if}}
                        <li class="breadcrumb-item active" aria-current="page">...</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>