<div class="mag-breadcrumb py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Tin
                                Tức</a></li>
                        <li class="breadcrumb-item"><a href="#">Tin xã hội</a></li>
                        <li class="breadcrumb-item active" aria-current="page">...</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>