<div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">


    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget">
        <a href="#" class="add-img"><img src="img/bg-img/add.png" alt=""></a>
    </div>

    <!-- Sidebar Widget -->

</div>