{{#each main}}
<div class="single-trending-post">
    <img src="{{this.img}}" alt="">
    <div class="post-content">
        <a href="#" class="post-cata">{{this.theme}}</a>
        <a href="/news/{{this.id}}" class="post-title">{{this.title}}</a>
    </div>
</div>
{{/each }}