<div class="single-trending-post">
    <img src="img/bg-img/19.jpg" alt="">
    <div class="post-content">
        <a href="#" class="post-cata">Video</a>
        <a href="video-post.html" class="post-title">Big Savings On Gas While You Travel</a>
    </div>
</div>