<!-- Related Post Area -->
<div class="related-post-area bg-white mb-30 px-30 pt-30 box-shadow">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Tin liên quan</h5>
    </div>

    <div class="row">
        <!-- Single Blog Post -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-blog-post style-4 mb-30">
                <div class="post-thumbnail">
                    <img src="img/bg-img/29.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                    <div class="post-meta d-flex">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Single Blog Post -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-blog-post style-4 mb-30">
                <div class="post-thumbnail">
                    <img src="img/bg-img/29.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                    <div class="post-meta d-flex">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Single Blog Post -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-blog-post style-4 mb-30">
                <div class="post-thumbnail">
                    <img src="img/bg-img/29.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">Dentists Are Smiling Over Painless Veneer</a>
                    <div class="post-meta d-flex">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>