<div class="featured-video-posts-slide owl-carousel">

    <div class="single--slide">


        <!-- Single Blog Post -->
        <div class="single-blog-post d-flex style-3">
            <div class="post-thumbnail">
                <img src="img/bg-img/24.jpg" alt="">
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">A Guide To Rocky Mountain
                    Vacations</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post d-flex style-3">
            <div class="post-thumbnail">
                <img src="img/bg-img/25.jpg" alt="">
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">American Standards And European
                    Culture How To Avoid</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post d-flex style-3">
            <div class="post-thumbnail">
                <img src="img/bg-img/26.jpg" alt="">
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">Mother Earth Hosts Our Travels</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>


    </div>



</div>