<div class="featured-video-posts-slide owl-carousel">

    <div class="single--slide">

        {{#each right}}
        <div class="single-blog-post d-flex style-3">
            <div class="post-thumbnail">
                <img src="{{this.img}}" alt="">
            </div>
            <div class="post-content">
                <a href="/news/{{this.id}}" class="post-title">{{this.title}}</a>
                <div class="post-meta d-flex">
                    {{!-- <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{this.viewsCount}}</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a> --}}
                </div>
            </div>
        </div>

        {{/each}}




    </div>



</div>