<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget">
                    <!-- Logo -->
                    <a href="#" class="foo-logo"><img src="/images/vnpt.jpg" alt=""></a>
                    <p>
                        Năng động, sáng tạo, chất lượng, văn minh.
                        <br>
                        Địa chỉ đáng tin cậy của quý khách hàng.

                    </p>
                    <div class="footer-social-info">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget">
                    <h6 class="widget-title"></h6>
                    <nav class="footer-widget-nav">
                        <ul>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Footer Widget Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="footer-widget">
                    <h6 class="widget-title">Liên Hệ Chúng Tôi</h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.3697315019986!2d105.43292911411362!3d10.392180569011648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a72e9614a3c2b%3A0x8f48f1d82705eab3!2sVNPT%20An%20Giang!5e0!3m2!1svi!2s!4v1579251499327!5m2!1svi!2s"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>

            </div>

            <!-- Footer Widget Area -->
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container">
            <div class="row">
                <!-- Copywrite Text -->
                <div class="col-12 col-sm-6">
                    <p class="copywrite-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Bản Quyền &copy;
                        <script>document.write(new Date().getFullYear());</script> VNPT An Giang | Địa chỉ:Số 2 Lê
                        Lợi,P.Mỹ Bình, TP Long Xuyên Tel: (0296) 800126 | Fax: (0296) 3856294 | Hotline: (0296) 800126
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- ##### Footer Area End ##### -->