<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">


    <!-- Title -->
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>VNPT An Giang</title>
    {{/if}}

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">


    <!-- Stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link href="/summernote-master/dist/summernote-bs4.css" rel="stylesheet">

</head>


<body data-spy="scroll" data-target="#navbar-example">

    <div id="preloader"></div>
    {{> admin/header}}
    {{{ body }}}
    {{> admin/admin-footer }}

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <script src="/js/adminGetID.js"></script>
    <script src="/js/adminPagination.js"></script>
    <script src="/summernote-master/dist/summernote-bs4.js"></script>
    <script>

        $('#summernote').summernote();
    </script>
</body>

</html>