<div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
    <!-- Sidebar Widget -->
    {{#each advertise}}
    <div class="single-sidebar-widget">
        <a href="{{this.link}}" target="_blank" class="add-img"><img src="{{this.img}}" alt=""></a>
    </div>
    <br>

    {{/each}}
    <footer>
        <ul class="list-group">
            <li class="list-group-item active">Lượt Truy Cập</li>
            {{#each access}}
            <li class="list-group-item">Tổng lươt truy cập: <b>{{this.access}}</b></li>
            {{/each}}
            {{#if ip}}
            <li class="list-group-item">IP của bạn: <b>{{ip}}</b></li>
            {{/if}}
        </ul>
    </footer>

</div>