<div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
    <!-- Sidebar Widget -->
    {{#each advertise}}
    <div class="single-sidebar-widget">
        <a href="{{this.link}}" target="_blank" class="add-img"><img src="{{this.img}}" alt=""></a>
    </div>
    <br>

    {{/each}}


</div>