<div class="hero-area owl-carousel">
    <!-- Banner -->
    {{#each banner}}
    <div class="hero-blog-post bg-img" style="background-image: url({{this.img}});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <a href="#" class="video-play" data-animation="bounceIn" data-delay="500ms"><i
                                class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}


</div>