<div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
    <!-- News Posts Area -->
    <div class="feature-video-posts mb-30">
        <!-- Service Title -->
        <!-- Section Title -->
        <div class="section-heading">
            <h5>Tin mới nhất</h5>
        </div>

        <div class="featured-video-posts">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <!-- Single Featured Post -->
                    <div class="single-featured-post">
                        <!-- Thumbnail -->
                        <div class="post-thumbnail mb-50">
                            <img src="images/ICT.jpg" alt="">

                        </div>
                        <!-- Post Contetnt -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">Jan 11, 2020</a>
                                <a href="#">Social</a>
                            </div>
                            <a href="post.html" class="post-title">VNPT giành giải thưởng Top ICT Việt Nam 2019</a>
                            <p>Tại lễ trao giải thưởng Top ICT Việt Nam 2019 tổ chức ngày 30/10, VNPT nhận 2 giải
                                thưởng ở hạng mục Doanh nghiệp CNTT – Viễn thông (VT) và Doanh nghiệp dịch vụ
                                Internet, VT hàng đầu Việt Nam.</p>
                        </div>
                        <!-- Post Share Area -->
                        <div class="post-share-area d-flex align-items-center justify-content-between">
                            <!-- Post Meta -->
                            <div class="post-meta pl-3">
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                <a href="#"><i class="fa far fa-star" aria-hidden="true"></i> 5</a>
                            </div>
                            <!-- Share Info -->
                            <div class="share-info">
                                <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                <!-- All Share Buttons -->
                                <div class="all-share-btn d-flex">
                                    <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" class="google-plus"><i class="fa fa-google-plus"
                                            aria-hidden="true"></i></a>
                                    <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <!--  Posts Slide -->
                    <div class="featured-video-posts-slide owl-carousel">

                        <div class="single--slide">
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/KM.png" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                                        nạp thẻ</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/KM.png" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                                        nạp thẻ</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/KM.png" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                                        nạp thẻ</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/KM.png" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                                        nạp thẻ</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/KM.png" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                                        nạp thẻ</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="single--slide">
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/changeSim.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                                        giao dịch lưu động của VNPT An Giang</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/changeSim.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                                        giao dịch lưu động của VNPT An Giang</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/changeSim.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                                        giao dịch lưu động của VNPT An Giang</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/changeSim.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                                        giao dịch lưu động của VNPT An Giang</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex style-3">
                                <div class="post-thumbnail">
                                    <img src="images/changeSim.jpg" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                                        giao dịch lưu động của VNPT An Giang</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                        <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                                        <a></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- service - Product -->
    <div class="sports-videos-area">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>Tin Tức</h5>
        </div>


        <div class="row">
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-post d-flex style-3 mb-30">
                    <div class="post-thumbnail">
                        <img src="images/ICT.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="post.html" class="post-title">VNPT giành giải thưởng Top ICT Việt Nam 2019</a>
                        <div class="post-meta d-flex">
                            <p>Update 3 hour ago</p>

                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-post d-flex style-3 mb-30">
                    <div class="post-thumbnail">
                        <img src="images/ICT.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="post.html" class="post-title">VNPT giành giải thưởng Top ICT Việt Nam 2019</a>
                        <div class="post-meta d-flex">
                            <p>Update 3 hour ago</p>

                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-post d-flex style-3 mb-30">
                    <div class="post-thumbnail">
                        <img src="images/ICT.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="post.html" class="post-title">VNPT giành giải thưởng Top ICT Việt Nam 2019</a>
                        <div class="post-meta d-flex">
                            <p>Update 3 hour ago</p>

                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-post d-flex style-3 mb-30">
                    <div class="post-thumbnail">
                        <img src="images/ICT.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="post.html" class="post-title">VNPT giành giải thưởng Top ICT Việt Nam 2019</a>
                        <div class="post-meta d-flex">
                            <p>Update 3 hour ago</p>

                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-post d-flex style-3 mb-30">
                    <div class="post-thumbnail">
                        <img src="images/ICT.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="post.html" class="post-title">VNPT giành giải thưởng Top ICT Việt Nam 2019</a>
                        <div class="post-meta d-flex">
                            <p>Update 3 hour ago</p>

                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-post d-flex style-3 mb-30">
                    <div class="post-thumbnail">
                        <img src="images/ICT.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="post.html" class="post-title">VNPT giành giải thưởng Top ICT Việt Nam 2019</a>
                        <div class="post-meta d-flex">
                            <p>Update 3 hour ago</p>

                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-lg-6">
                <div class="single-blog-post d-flex style-3 mb-30">
                    <div class="post-thumbnail">
                        <img src="images/ICT.jpg" alt="">
                    </div>
                    <div class="post-content">
                        <a href="post.html" class="post-title">VNPT giành giải thưởng Top ICT Việt Nam 2019</a>
                        <div class="post-meta d-flex">
                            <p>Update 3 hour ago</p>

                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                            <a href="#"><i class="fa far fa-star" aria-hidden="true"></i>5</a>
                            <a></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
            </ul>
        </nav>

    </div>
    <!-- Service Title -->
    <div class="trending-now-posts mb-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>Sản phẩm - dịch vụ</h5>
        </div>

        <div class="trending-post-slides owl-carousel">
            <!-- Single Post -->
            <div class="single-trending-post">
                <img src="images/service/mytv.png" alt="">
                <div class="post-content">
                    <a href="post.html" class="post-title">MyTV</a>
                </div>
            </div>

            <!-- Single Post -->
            <div class="single-trending-post">
                <img src="images/service/megavnn.jpg" alt="">
                <div class="post-content">
                    <a href="post.html" class="post-title">Mega VNN</a>
                </div>
            </div>

            <!-- Single Post -->
            <div class="single-trending-post">
                <img src="images/service/vinaphone.png" alt="">
                <div class="post-content">
                    <a href="post.html" class="post-title">VinaPhone</a>
                </div>
            </div>

            <!-- Single Post -->
            <div class="single-trending-post">
                <img src="images/service/vnptCA.jpg" alt="">
                <div class="post-content">
                    <a href="post.html" class="post-title">VNPT-CA</a>
                </div>
            </div>
        </div>
    </div>
</div>