<div class="single-sidebar-widget p-30">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Tin Nội Bộ</h5>
    </div>
    {{#each internalNews}}
    <!-- Single Blog Post -->
    <div class="single-blog-post d-flex">
        <div class="post-thumbnail">
            <img src="{{this.img}}" alt="">
        </div>
        <div class="post-content">
            <a href="/news/{{this.id}}" class="post-title">{{this.title}}</a>
        </div>
    </div>
    {{/each}}

</div>