<!-- Sidebar Widget -->
<div class="single-sidebar-widget p-30">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Xem Nhiều Nhất</h5>
    </div>
    {{#each mostViews}}
    <div class="single-blog-post d-flex">
        <div class="post-thumbnail">
            <img src="{{this.img}}" alt="">
        </div>
        <div class="post-content">
            <a href="post.html" class="post-title">{{this.title}}</a>
            <div class="post-meta d-flex justify-content-between">
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>{{this.viewsCount}}</a>
                <a href="#"><i class="fa far fa-comments" aria-hidden="true"></i> 5</a>
                <a></a>

            </div>
        </div>
    </div>
    {{/each}}

</div>