<div class="col-12 col-lg-5">
    <!--  Posts Slide -->
    <div class="featured-video-posts-slide owl-carousel">

        <div class="single--slide">
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/KM.png" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                        nạp thẻ</a>
                    <div class="post-meta d-flex">
                        {{!-- <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa far fa-comments" aria-hidden="true"></i>5</a>
                        <a></a> --}}
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <br>
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/KM.png" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                        nạp thẻ</a>

                </div>
            </div>
            <br>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/KM.png" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                        nạp thẻ</a>
                </div>
            </div>
            <br>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/KM.png" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                        nạp thẻ</a>

                </div>
            </div>
            <br>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/KM.png" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                        nạp thẻ</a>

                </div>
            </div>
            <br>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/KM.png" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                        nạp thẻ</a>

                </div>
            </div>
            <br>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/KM.png" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">10/01/2020 Vinaphone khuyến mãi ngày vàng
                        nạp thẻ</a>

                </div>
            </div>

        </div>

        {{!-- <div class="single--slide">
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/changeSim.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                        giao dịch lưu động của VNPT An Giang</a>

                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/changeSim.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                        giao dịch lưu động của VNPT An Giang</a>

                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/changeSim.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                        giao dịch lưu động của VNPT An Giang</a>

                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/changeSim.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                        giao dịch lưu động của VNPT An Giang</a>

                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex style-3">
                <div class="post-thumbnail">
                    <img src="images/changeSim.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="post.html" class="post-title">Thay Sim 4G Vinaphone miễn phí tại điểm
                        giao dịch lưu động của VNPT An Giang</a>

                </div>
            </div>
        </div> --}}

    </div>
</div>