<!-- ##### Breadcrumb Area Start ##### -->
{{> admin/breadCrumb}}
<!-- ##### Breadcrumb Area End ##### -->
<!-- #####Posts Area Start ##### -->
<section class="mag-posts-area d-flex flex-wrap">

    <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
    {{> admin/leftBar}}

    <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
    {{> admin/approve}}

</section>
<!-- ##### Posts Area End ##### -->