{{> admin/breadCrumb}}
<section class="mag-posts-area d-flex flex-wrap">

    {{> admin/leftBar}}

    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        <!-- News Posts Area -->
        {{> admin/changePass}}
    </div>
</section>