<!-- ##### Breadcrumb Area Start ##### -->
{{> admin/breadCrumb}}
<!-- ##### Breadcrumb Area End ##### -->
<!-- #####Posts Area Start ##### -->
<section class="mag-posts-area d-flex flex-wrap">

    <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
    {{> admin/leftBar}}

    <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Area
        <<<<<<<<<<<<<<<<<<<<< -->
        {{> admin/theme}}



    </div>

</section>
<!-- ##### Posts Area End ##### -->