<div class="preloader d-flex align-items-center justify-content-center">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
{{> editor/breadCrumb}}
<section class="mag-posts-area d-flex flex-wrap">
    {{> editor/leftBar}}

    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        <img src="../images/main.jpg">
    </div>
</section>