<!-- ##### Header Area End ##### -->

<!-- ##### Banner Area Start ##### -->
{{> home/baner}}
<!-- ##### Banner Area End ##### -->

<!-- #####Posts Area Start ##### -->
<section class="mag-posts-area d-flex flex-wrap">

    <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
    {{> home/leftBar}}

    <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
    {{> home/center}}
    <!-- >>>>>>>>>>>>>>>>>>>>
         Post Advertise Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
    {{> home/advertise}}



</section>