<!-- ##### Header Area End ##### -->

<!-- ##### Banner Area Start ##### -->
{{> home/banner}}
<!-- ##### Banner Area End ##### -->

<!-- #####Posts Area Start ##### -->
<section class="mag-posts-area d-flex flex-wrap">


    {{> home/leftBar}}


    {{> home/center}}

    {{!-- {{> home/trending}} --}}

    {{> home/advertise}}



</section>