<section class="mag-posts-area d-flex flex-wrap">

    {{> news/leftSideBar}}

    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">


        <!-- Feature Video Posts Area -->
        <div class="feature-video-posts mb-30">
            <!-- Section Title -->
            <h2>

                <b>asdsad</b>
                <b>adasds</b>

            </h2>

            <div class="featured-video-posts">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        {{>news/mainType}}
                    </div>

                    <div class="col-12 col-lg-5">
                        <!-- Featured Video Posts Slide -->
                        {{> news/threePostRight}}

                    </div>
                </div>
            </div>



            <!-- Section Title -->
            <div class="section-heading">
                <h5>Most Viewed Videos</h5>
            </div>

            <div class="most-viewed-videos-slide owl-carousel">

                {{> news/typeDown}}



            </div>
        </div>


    </div>

</section>