<div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget p-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>Quản lý</h5>
        </div>
        <ul class="catagory-widgets">
            <li><a href="/editor/newPost"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Viết
                        Bài</span> </a></li>
            <li><a href="/editor/posted"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Các Tin Đã
                        Đăng</span></a></li>
            <li><a href="/editor/profile"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thông Tin Cá
                        Nhân</span></a></li>
            <li><a href="/editor/changePass"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Đổi Mật
                        Khẩu</span></a></li>
        </ul>

    </div>
</div>