html
    head
        //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")      
        style
             include    ../../asset/css/bootstrap.min.css
             include    ../../public/style/custome.css

    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') ITNews
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href='/admin') Home
                    li.nav-item
                        a.nav-link(href='/admin/create') Create
                    li.nav-item
                        a.nav-link(href='#') Search
                    li.nav-item
                        a.nav-link(href='#') Product
           
    .container.pt-5

        script(src="../../asset/js/bootstrap.min.js")
        script(src="../../asset/js/popper.min.js")
        block custom
