<div class="mag-login-area py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Điền thông tin xác nhận</h5>
                    </div>


                    <form action="/login/forgot" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="accountForgot" id="exampleInputEmail1"
                                placeholder="Nhập tài khoản" value={{accountForgot}}>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="phoneForgot" id="exampleInputPassword1"
                                placeholder="Số điện thoại của tài khoản" value="{{phoneForgot}}">
                        </div>

                        <p>
                            {{#each erorrs}}
                            <div class="alert alert-danger" role="alert">
                                {{erorr}}
                            </div>
                            {{/each}}
                        </p>

                        <button type="submit" class="btn mag-btn mt-30">Xác nhận</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>