<div class="mag-login-area py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Xác nhận mã xác thực</h5>
                    </div>



                    <form action="/login/certainity" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="certainityCode" id="exampleInputEmail1"
                                placeholder="Nhập mã xác thực" value={{verifyCode}}>
                        </div>
                        <small>Mã xác thực đã được gửi qua email bạn đã đăng ký trong tài khoản. Mã xác minh sẽ có hiệu
                            lực trong 5 phút</small>


                        <p>
                            {{#each erorrs}}
                            <div class="alert alert-danger" role="alert">
                                {{erorr}}. <a href="{{link}}"> <i class="fa fa-backward">Quay lại</i></a>
                            </div>
                            {{/each}}
                        </p>

                        <button type="submit" class="btn mag-btn mt-30">Xác nhận</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>