<div class="mag-login-area py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="login-content bg-white p-30 box-shadow">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Đăng Nhập</h5>
                    </div>

                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Vui lòng nhập tài khoản">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Ghi nhớ đăng
                                    nhập</label>
                            </div>
                        </div>
                        <button type="submit" class="btn mag-btn mt-30">Đăng Nhập</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>