<div class="section-heading">
    <h5>Quản Lý Tài Khoản</h5>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tài Khoản</th>
            <th scope="col">Tên Người Dùng</th>
            <th scope="col">Số Điện Thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Ngày Sinh</th>
            <th scope="col">Giới Tính</th>
            <th scope="col">CMND</th>
            <th scope="col">Khóa Tài Khoản</th>
            <th scope="col">Xóa Tài Khoản</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>012345678</td>
            <td>la@gmail.com</td>
            <td>06/05/1998</td>
            <td>Nam</td>
            <td>452145987</td>
            <td><a href="#"><i class="fa fa-lock ml-5" aria-hidden="true"></i></a></td>
            <td><a href="#"><i class="fa fa-trash ml-5"></i></a></td>
        </tr>

    </tbody>
</table>
</div>