<footer class="footer-area">


    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container">
            <div class="row">
                <!-- Copywrite Text -->
                <div class="col-12 col-sm-6">
                    <p class="copywrite-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Bản Quyền &copy;
                        <script>document.write(new Date().getFullYear());</script> VNPT An Giang | Địa chỉ:Số 2 Lê
                        Lợi,P.Mỹ Bình, TP Long Xuyên Tel: (0296) 800126 | Fax: (0296) 3856294 | Hotline: (0296) 800126
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>