<div class="section-heading">
    <h5>Thêm Quảng Cáo</h5>
</div>

<form>
    <div class="form-group">
        <label for="describeTextarea1">Mô Tả</label>
        <textarea class="form-control" id="describeTextarea1" name="" rows="3"></textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Chọn ảnh</span>
        </div>
        <div class="custom-file">
            <input type="file" id="inputGroupFile01" name="image" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Chọn</label>
        </div>
    </div>



    <button type="submit" class="btn btn-primary">Đăng</button>

</form>

<br>
<br>
<div class="section-heading">
    <h5>Quảng Cáo</h5>
</div>
<!-- ##### Advertise Area Start ##### -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mô Tả</th>
            <th scope="col">Hình Ảnh</th>
            <th scope="col">Ngày Đăng</th>
            <th scope="col">Người Đăng</th>
            <th scope="col">Vị Trí</th>
            <th scope="col">Xóa</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>ÂCSASDASD</td>
            <td><img src=""></td>
            <td>@mdo</td>
            <td></td>
            <td></td>
            <td><a href="#"><i class="fa fa-trash ml-5"></i></a></td>
        </tr>
    </tbody>
</table>
<!-- ##### Advertise Area End ##### -->