<div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget p-30">
        <!-- Section Title -->
        <div class="section-heading">
            <h5>Quản lý</h5>
        </div>
        <ul class="catagory-widgets">
            <li><a href="/admin/approve"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Xét
                        Duyệt</span></a></li>
            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thể
                        Loại</span></a></li>
            <li><a href="/admin/profile"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thông Tin
                        Cá Nhân</span></a></li>
            <li><a href="/admin/account"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Tài
                        Khoản</span></a></li>
            <li><a href="/admin/register"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thêm
                        Tài Khoản</span></a></li>
            <li><a href="/admin/changepass"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Đổi Mật
                        Khẩu</span></a></li>
            <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Lượt truy
                        cập</span></a></li>
            <li><a href="/admin/advertise"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Quảng
                        Cáo</span></a></li>
            <li><a href="/admin/banner"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Banner
                    </span></a></li>
        </ul>

    </div>
</div>