<div class="section-heading">
    <h5>Thể Loại</h5>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Thể Loại</th>
            <th scope="col">Chủ Đề</th>
            <th scope="col"> &emsp; &emsp; Xóa</th>
        </tr>
    </thead>
    <tbody>
        {{#each types}}
        <tr>
            <th scope="row">1</th>
            <td colspan="2">{{types.tenTheLoai}}</td>
            <td><a href="#"><i class="fa fa-trash ml-5"></td>
        </tr>
        {{/each}}
        {{!-- <tr>
            <td colspan="2"></td>
            <td>Bóng Đá Nam</td>
            <td><a href="#"><i class="fa fa-trash ml-5"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>Bóng Đá Nữ</td>
            <td><a href="#"><i class="fa fa-trash ml-5"></td>
        </tr> --}}




    </tbody>
</table>




<div class="section-heading">
    <h5> Thêm Thể Loại</h5>
</div>
<form action="" method="POST">
    <div class="form-group">
        <label>Thể Loại</label>
        <input type="text" class="form-control" name="addType">
    </div>

    <button type="submit" class="btn btn-info">Thêm Thể Loại</button>

</form>
<br>
<br>
<br>

<div class="section-heading">
    <h5> Thêm Chủ Đề</h5>
</div>

<form action="" method="POST">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="typeSelect">Thể Loại</label>
        </div>
        <select class="custom-select" id="typeSelect" name="typeSelected" required="true">
            <option selected>Choose...</option>
            <option value="Xe">Xe</option>
        </select>
    </div>
    <div class="form-group">
        <label>Chủ Đề</label>
        <input type="text" class="form-control" name="addTheme">
    </div>

    <button type="submit" class="btn btn-info">Thêm Chủ Đề</button>

</form>