<div class="section-heading">
    <h5>Thể Loại</h5>
</div>
{{#if message}}
<div>{{message}}</div>
{{/if}}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Thể Loại</th>
            <th scope="col"> &emsp; &emsp; Xóa</th>
        </tr>
    </thead>
    <tbody>
        {{#each types}}
        <tr>
            <th scope="row">{{this.STT}}</th>
            <td scope="row">{{this.Type}}</td>
            <td><a href="#"><i class="fa fa-trash ml-5"></td>
        </tr>
        {{/each}}

    </tbody>
</table>




<div class="section-heading">
    <h5> Thêm Thể Loại</h5>
</div>
<form action="" method="POST">
    <div class="form-group">
        <label>Thể Loại</label>
        <input type="text" class="form-control" name="addType">
    </div>

    <button type="submit" class="btn btn-info">Thêm Thể Loại</button>

</form>
<br>
<br>
<br>